---
import Layout from "../../layouts/Layout.astro"
---

<Layout title="🦈 Ticket Info">
  <main class="bg-gradient-to-r from-sky-900 to-indigo-900">
  <div
    class="h-screen bg-center bg-contain bg-no-repeat bg-[url('/assets/ticketinfo.jpg')]"
  >
  </div>
</main>
</Layout>

