<main class="bg-gradient-to-r from-sky-900 to-indigo-900">
  <div
    class="h-screen bg-center bg-contain bg-no-repeat bg-[url('/assets/ticketinfo.jpg')]"
  >
    <div class="flex justify-center">
      <a class="underline text-slate-100 font-semibold" href="/">
        &larr; Countdown
      </a>
    </div>
  </div>
</main>
